.navb {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.nav-item-right {
  padding-left: 1250px;
}

.signup {
  padding-top: 45px;
}

.button {
  /* padding-bottom: 10px; */
}

.App {
  /* background-color: rgb(198, 204, 255); */
}

.class-container {
  display: flex;
  align-items: center;
}
