.loginForm, .signUpForm {
  max-width: 1000px;
  margin:0 auto; 
  width: 500px;
}

.loginFormForm {
  padding: 20px;
}

.navbr {
  padding-left: 20px;
}

.home {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;

}